<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.micuna">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".modelo.MicunaApp"
        android:allowBackup="true"
        android:icon="@drawable/logomicuna"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logomicuna"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".comidas.tacos"></activity>
        <activity android:name=".comidas.gaseosa" />
        <activity android:name=".comidas.hamburguesa" />
        <activity android:name=".comidas.donuts" />
        <activity android:name=".comidas.pizza" />
        <activity android:name=".comidas.pollo_brasa" />
        <activity android:name=".comidas.bebidas" />
        <activity android:name=".comidas.antojos" />
        <activity android:name=".comidas.fast_food" />
        <activity android:name=".comidas.peruanito" />
        <activity android:name=".comidas.favoritos" />
        <activity
            android:name=".activities.SelectOptionAuth"
            android:parentActivityName=".activities.MainActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".activities.conductor.ContenidoConductor" />
        <activity android:name=".activities.MainActivity" />
        <activity
            android:name=".activities.conductor.RegistroConductor"
            android:parentActivityName=".activities.SelectOptionAuth" />
        <activity android:name=".activities.cliente.ContenidoCliente" />
        <activity android:name=".activities.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.cliente.RegistroCliente"
            android:parentActivityName=".activities.SelectOptionAuth" />
        <activity
            android:name=".activities.LoginActivity"
            android:parentActivityName=".activities.SelectOptionAuth" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>